@import url('https://fonts.googleapis.com/css2?family=Faustina:ital,wght@0,400;0,700;1,300;1,400;1,600;1,800&family=Fredericka+the+Great&family=Open+Sans:ital,wght@1,700&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
button,
body,button,input{
  font-family: 'Faustina', serif;

}

body {
  max-height: 100vh;
  max-width: 100vw;
  overflow: hidden;
}

.Toastify__toast-theme--dark {
  background-color: #00000076 !important;
}
